
<div class="container">
  <div *ngIf="movie">
    <div class="row">
      <div class="col-md-5">
        <img class="img-responsive img-rounded poster" src={{movie.poster_path}} width="90%" />
      </div>
      <div class="col-md-5">
        <h1>Movie:</h1>
        <b>Title:</b> {{movie.title}}
        <br>
        <b>Release Date:</b> {{movie.release_date}}
        <br>
        <b>ID:</b> {{movie.id}}
        <br>
        <b>Rating:</b> {{movie.vote_average}} &#9734;
        <br>
        <h4>Plot:</h4> {{movie.overview}}
        <br>
        <br>
        <p>
          <button (click)="gotoMovies()">Back</button>
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>